body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.window {
    background-color: rgb(197, 197, 197);
    margin: 50px auto 25px auto;
    width: 15%;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.display{
    border-style: dashed;
    border-width: 1px;
    text-align: right;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 50px;
    background-color: rgb(233, 233, 233);
}

.display span{
    font-size: 30px;
}

.btn {
    display: grid;
    grid-template-columns: 188px 188px;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
    margin-bottom: 4px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 4px;
    grid-column-gap: 4px;
    padding-bottom: 10px;
}

button {
    font-size: 24px;
    padding: 10px 10px 10px 10px;
}

footer {
    text-align: center;
}